@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

::selection {
	background: #0003
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body {
	font-family: 'Lexend Deca', sans-serif;
	color: #333;
	letter-spacing: 1px
}

h1 {
	text-align: center;
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
	margin: 20px 0
}

.container {
	width: 100%;
	padding: 20px
}

.content {
	width: 100%;
	max-width: 650px;
	padding: 0 20px;
	margin: 0 auto
}

#num-cards {
	background: #DDD;
	width: min-content;
	padding: 5px;
	border-radius: 5px;
	letter-spacing: 1px
}

#cards-grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
	margin: 20px 0;
	grid-auto-rows: 1fr
}

#add {
	display: flex;
	justify-content: center;
	align-items: center
}

#add .btn {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px
}

#cards-grid .card {
	border: 2px solid transparent;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 4px 4px 4px #0003;
	outline: 1px solid #CCC;
	position: relative;
	background: #FFF
}

#cards-grid .number {
	padding-top: 2.5em
}

.number .close {
	position: absolute;
	top: 0;
	right: 0
}

.input {
	padding: 5px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
	outline: none;
	border: 1px solid #CCC;
	border-radius: 5px;
	font-size: 1em;
	font-family: 'PT Mono', monospace;
	color: #222;
	background: transparent;
	transition: .2s
}

.input:focus {
	background: #FF990055;
	border-color: #FF9900
}

#summary {
	list-style: none;
	font-family: 'PT Mono', monospace;
	border: 1px solid #CCC;
	padding: 10px;
	border-radius: 5px;
	margin: 10px 0;
	overflow-x: auto
}

#summary li {
	width: max-content
}

.btn {
	--bg: #DDD;
	--color: #333;
	--hover-bg: #CCC;
	--hover-color: #222;
	--focus-bg: #BBB;
	--focus-color: #111;

	padding: 8px;
	border-radius: 5px;
	border: 1px solid transparent;
	font-size: 1em;
	cursor: pointer;
	transition: .2s;
	background: var(--bg);
	color: var(--color);
	outline: none
}

.btn:hover {
	background: var(--hover-bg);
	color: var(--hover-color)
}

.btn:focus {
	background: var(--focus-bg);
	color: var(--focus-color);
}

.btn:disabled {
	pointer-events: none;
	border: 1px dashed gray;
	background: transparent;
	color: gray
}

.btn.gold {
	--hover-bg: #FFA203;
	--hover-color: #222;
	--focus-bg: #FF9100;
	--focus-color: #111
}

.btn.copy:focus {
	--focus-bg: #046991;
	--focus-color: #EEE
}

footer {
	text-align: center;
	font-size: small
}

@media (prefers-color-scheme: dark) {
	::selection {
		background: #FFF3
	}

	body {
		background: #121212;
		color: #AAA
	}

	h1 {
		border-color: #555
	}

	#num-cards {
		color: #AAA;
		background: #1F2122
	}

	#cards-grid .card {
		background: #1F2122;
		outline-color: #1F2122
	}

	.input {
		color: #AAA;
		border-color: #555
	}

	.input:focus {
		background: #FF990055;
		border-color: #FF9900;
		color: #FFF
	}

	#summary {
		border-color: #555
	}

	.btn {
		--bg: #555;
		--color: #000	
	}
}